.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent overall scrolling */
}

.main-content-with-friends {
  flex: 1;
  display: flex;
  overflow: hidden; /* Allow internal scrolling */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Allow content inside to scroll */
}
